@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <h2>This is the landing page for Passel</h2>
    <h2>Your single pain of glass to consume media!</h2>
</div>
