@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World, Welcome to Passel!</h1>
    <br />
    <h2>Your single pain of glass to consume media!</h2>
    <br />
    <p>This site is in its infancy and will be recieving regular updates of functionality, thank you for your patience!</p>
    <img src="~/images/under_construction.png" alt="Under Construction"
         title="Under Construction" />
</div>
